*{
    background-color: black;
    color: white;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hiddenData{
    border: 2px solid white;
    padding: 3%;
    font-size: x-large;
    display: none;
    flex-basis: 70%;
    margin: 5px;
}

.hiddenData.show{
    display: block;
}

.show{
    font-size: xx-large;
    color: white;
    background-color: black;
    border-color: wheat;
    border-radius: 4px;
    padding: 7px;
    margin: 5px;
}